.header-choice {
	background: #fafafb;
	.title {
		padding: 0;
	}
	border-top: 3px solid #F48024;
	.logo {
		background-image: url('https://cdn.sstatic.net/Sites/stackoverflow/img/sprites.svg');
		width: 35px;
		height: 45px;
		display: inline-block;
	}
}