@import 'simple-grid';

.content {
	margin-top: 100px;
}

.dummy-pretty {
	display: none
}

.single-article {
	@extend .col-6;
	float: left;
	margin: 15px;
	height: 300px;
	color: #7b7b7b;
	font-family: 'Times New Roman', serif;
	.border-holder {
		border: 1px solid rgba(74, 74, 74, 0.075);
		padding: 10px;
		height: 100%;
		padding: 0 20px;
		position: relative;
		&:hover {
			border: 2px solid rgba(129, 196, 131, 0.5);
			margin-top:-1px;
			.title, .title a {
				color: #000;
			}
		}
	}
	
	a {
		text-decoration: none;
	}
	.fun-text {
		display: none;
	}

	.title, .title a {
		font-family: 'Times New Roman', serif;
		color: #7b7b7b;
		font-weight: bold;
		font-size: 30px;
		display: block;
		line-height: 0.8;
	}
	.title {
		padding-top: 40px;
	}

	.main-article {
		position: relative;
		margin-top: 15px;
		&::before {
			content: '';
		    position: absolute;
		    width: 33%;
		    height: 1px;
		    background: #7b7b7b;
		    left: 33%;
		    top: -1px;
		}
		.real-title {
			font-style: italic;
			font-size: 15px;
			display: inline-block;
			line-height: 1;
			padding-top: 15px;
			width: 75%;
		}
	}
	.additional {
		position: absolute;
		bottom: 10px;
		right: 20px;
		a {
			float: left;
			margin-left: 20px;
		}
		a, .author {
			font-size: 12px;
			color: #7b7b7b;
			margin-top: 40px;
		}
		img {
			display: inline-block;
		    border-radius: 50%;
		    margin-bottom: 30px
		}
		.author {
			float: right;
		}
	}
}