@import url('https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Quicksand');

@import 'reset';
@import 'simple-grid-min';

.not-loading {
	display: none;
}

//basic styles
.App {
	.single-article img {
		width: 25%;
		height: auto;
	}
	select {
	    padding: 0.5em 3em 0.5em 0.5em;
		border-color: black;
		border-style: solid;
		border-width: 0px 0px 2px 0px;
		font-weight: bold;
		font-size: 14px;
	}
	//initial app state on welcome
	&.initial {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		h2 {
			font-family: 'Quicksand', sans-serif;
			padding: 15% 0 5% 0;
			font-weight: bold;
			letter-spacing: 2px;
		}
		.header-choice {
			padding: 0 0 5% 0;
		}
	}
	//pretty read
	&.pretty {
		background: #fff;
		@import 'header-pretty';
		@import 'single-article-pretty';
	}
	//looking like Stack Overflow
	&.stack {
		background: grey;
		@import 'header-stack';
		@import 'single-article-stack';
	}
}
