@import url('https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Quicksand');

@import 'reset';
@import 'simple-grid-min';

@import 'font-awesome/scss/_font-awesome';

.not-loading {
	display: none;
}

//basic styles
.App {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	h2 {
		font-family: 'Quicksand', sans-serif;
		padding: 15% 0 5% 0;
		font-weight: bold;
		letter-spacing: 2px;
	}
	ul {
		display: inline-block;
	}
	.header-choice {
		padding: 0 0 5% 0;
	}
	@import 'header';
	.single-article img {
		width: 25%;
		height: auto;
	}
	select {
	    padding: 0.5em 3em 0.5em 0.5em;
		border-color: black;
		border-style: solid;
		border-width: 0px 0px 2px 0px;
		font-weight: bold;
		font-size: 14px;
	}

	.home-page {
		.error-handler {
			padding-top: 20px;
		}
		.error-hidden {
			opacity: 0;
			transition: opacity 0.3s;
		}
		.error-visible {
			opacity: 1;
			transition: opacity 0.3s;
			border-bottom: 2px solid red;
		}
	}

	//pretty read
	.Main.Pretty {
		background: #fff;
		@import 'header-pretty';
		@import 'single-article-pretty';
	}
	//looking like Stack Overflow
	.Main.Stack {
		background: grey;
		@import 'header-stack';
		@import 'single-article-stack';
	}
}
